@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("bg.png"), -webkit-linear-gradient(bottom,#0250c5, #d43f8d);
}
.container{
    width: 530px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 50px 35px 10px 35px;
}
.container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.container .form-outer{
width: 100%;
/* */
overflow: hidden;

}
.form-outer form{
    display: flex;
    width: 500%;
}
.form-outer form .page{
    width: 25%;
    transition: margin-left 0.4s ease-in-out;
}
.form-outer form .page .title{
    text-align: left;
    padding-left: 180px;
    padding-bottom: 35px;
    font-size: 25px;
    font-weight: 500;
}
.form-outer form .page .field{
    height: 45px;
    width: 330px;
    margin: 7px 0;
    padding-left: 100px;
    display: flex;
    position: relative;
    
}
.form-outer form .page .sel{
    padding-bottom: 100px;
    padding-left: 45px;
    margin-bottom: -55px;
    width:70%;
    height: 100px;
    align-content: center;
}
.form-outer form .page .fieldd input{
    display: inline-block; 
    width:47%;
} 


.form-outer form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
}
.form-outer form .page .field input{
    height: 30%;
    width: 40%;
    display: flex;
    position: relative;
    font-size: 18px;
    
}
form .page .field select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}
.form-outer form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    margin-top: 80px;
    border: none;
    background: #d43f8d;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
}
.form-outer form .page .field button:hover{
    background: #000;
}
.form-outer form .page .btns button{
    margin-top: 80px!important;
}
.form-outer form .page .last button{
    margin-top: -10px!important;
}
.form-outer form .page .nextBtn{
    padding-bottom: -50px;
}
 
form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px
}
form .page .btns button.next{
    margin-left: 3px; 
}
.container .progress-bar{
    display: flex;
   margin: 40px 0; 

}
.container .progress-bar .step{
    position: relative;
    text-align: center;
    width: 100%;
}.progress-bar .step p{
    font: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
    transition: 0.5s;
}
.progress-bar .step p.active{
    color: #d43f8d;
}
.progress-bar .step .bullet{
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%; 
    transition: 0.5s;
}
.progress-bar .step .bullet.active{
    border-color: #d43f8d;
    background:  #d43f8d;
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
    display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -71px;
    height: 3px;
    width: 65px;
    background: #262626;
}
.progress-bar .step .bullet.active:after{
    background: #d43f8d;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.5s linear forwards;
}   
@keyframes animate{ 
    100%{
        transform: scaleX(1);
    }
}
.progress-bar .step .bullet span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
    display: none; 
}
.progress-bar .step .check{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.progress-bar .step .check.active{
    
    display: block;
    color: #fff;
}